@using EnterpriseRequests.Web.Security

@section menuViews
{
    @Html.Partial("_MenuViews", "")
}

@section sidebarViews
{
    @Html.Partial("_SidebarViews", "")
}

@if (User.IsAdmin())
{
    @section menuAdmin
    {
        @Html.Partial("_MenuAdmin", "")
    }

    @section sidebarAdmin
    {
        @Html.Partial("_SidebarAdmin", "")
    }
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2>Unauthorized</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2><small>You are not authorized to perform this action.</small></h2>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-lg-4 col-md-4">
                        @Html.ActionLink("Take me to the Home Page", "Index", "Home", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>